{lib_dirs, ["deps"]}.
{src_dirs, ["src"]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{plugin_dir, ["deps/boss_db/priv/rebar"]}.
{plugins, [boss_db_rebar]}.
{recursive, false}.
{deps, [
    {boss_db, ".*", {git, "https://github.com/jdsieci/boss_db.git",  "HEAD"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.2"}}},
    {resource_discovery, ".*", {git, "https://github.com/jdsieci/resource_discovery.git", "HEAD"}},
    {poolboy, ".", {git, "https://github.com/devinus/poolboy.git", "HEAD"}},
    {bcrypt, ".", {git, "https://github.com/opscode/erlang-bcrypt.git", "HEAD"}}
  ]}.
{post_hooks, [{compile, "cp ./src/sys.config ./ebin/sys.config"}]}.
{boss_db_opts, [
    {model_dir, "src/model"},
    {compiler_options, [verbose, return_errors, {i, "include"}]},
    {include_dirs, ["include"]}
]}.
%{erl_opts, [warnings_as_errors,
%            warn_export_all,
%            {parse_transform, lager_transform},
%            {parse_transform, cut},
%            {parse_transform, do},
%            {parse_transform, import_as}
%]}.
