{plugin_dir, ["priv/rebar"]}.
{lib_dirs, ["deps"]}.
{src_dirs, ["src", "src/model"]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps, [
    {boss_db, ".*", {git, "https://github.com/jdsieci/boss_db.git",  "HEAD"}},
    {recource_discovery, ".*", {git, "https://github.com/erlware/resource_discovery.git", "HEAD"}},
    {log4erl, ".*", {git, "git://github.com/ahmednawras/log4erl.git", "HEAD"}},
    {poolboy, ".", {git, "https://github.com/devinus/poolboy.git", "HEAD"}}
  ]}.
