{lib_dirs, ["deps"]}.
{src_dirs, ["src", "src/model"]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps, [
    {boss_db, ".*", {git, "https://github.com/jdsieci/boss_db.git",  "HEAD"}},
    {resource_discovery, ".*", {git, "https://github.com/erlware/resource_discovery.git", "HEAD"}},
    {log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", "HEAD"}},
    {poolboy, ".", {git, "https://github.com/devinus/poolboy.git", "HEAD"}}
  ]}.
{post_hooks, [{compile, "cp ./src/sys.config ./ebin/sys.config"}]}.