[{yaas,
   [
    {yaas_auth, {[{size, 10},
                  {max_overflow, 20}],
                 []}
    },
    {db_opts,[{adapter, mock},  %  tyrant | riak | mysql | pgsql | mnesia | mongodb
              {db_host, "localhost"},
              {db_port, 1978},
              %%{db_username, UserName::string()},
              %%{db_password, Password::string()},
              %%{db_database, Database::string()},
              %% Database sharding
              %% A list of proplists with per-shard database configuration. 
              %% The proplists override the above options, and should contain two
              %% additional options: 
              %%{shards, [[{adapter, mock | tyrant | riak | mysql | pgsql | mnesia | mongodb},
              %%           {db_shard_models, [ModelName::atom()]},
              %%           {db_shard_id, ShardId::atom()},
              %%           {db_host, "localhost"},
              %%           {db_port, Port::not_neg_integer()},
              %%           {db_username, UserName::string()},
              %%           {db_password, Password::string()},
              %%           {db_database, Database::string()}}
                           
              %%]},
              {cache_enable, false},
              {cache_exp_time, 3600}, % seconds
              {cache_adapter, ets}, % memcached_bin | redis
              {cache_servers, [%% ets opts
                               %%{ets_maxsize,   MaxSize::integer() = 32 * 1024 * 1024},
                               %%{ets_threshold, Threshold::float() = 0.85},
                               %%{ets_weight,    Weight::integer()  = 30}
                               %% | redis options
                               %%{host, "localhost"},
                               %%{port, 6379},
                               %%{pass, undefined},
                               %%{db, 0},
                               %%{reconnect, true}
                               %% | memcached options
                               %%{"localhost", 11211, 1}, ...
              ]}
    ]}
   ]}
].
